**/.git
**/.gitignore
**/.DS_Store
**/.vscode
**/.idea

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.coverage
**/coverage
**/*.sqlite3

**/node_modules
**/dist
**/.vite
**/dist-ssr

**/.env
**/.env.*

backend/.venv
backend/media
logs
*.log
