DOCKERHUB_USERNAME=your-dockerhub-username
IMAGE_TAG=v1.0.0

POSTGRES_DB=hr_db
POSTGRES_USER=hr_user
POSTGRES_PASSWORD=change-me-strong-password
ANALYTICAL_DB_HOST=db
ANALYTICAL_DB_PORT=5432
ANALYTICAL_DB_NAME=hr_analytics
ANALYTICAL_DB_USER=hr_user
ANALYTICAL_DB_PASSWORD=change-me-strong-password
DB_ENGINE=postgres

DJANGO_SECRET_KEY=replace-with-a-strong-random-secret-at-least-32-characters
DJANGO_ALLOWED_HOSTS=your-domain.com,www.your-domain.com,server-public-ip
DJANGO_USE_HTTPS=true
DJANGO_USE_X_FORWARDED_PROTO=true

FRONTEND_URL=https://your-domain.com
CORS_ALLOWED_ORIGINS=https://your-domain.com,https://www.your-domain.com
CSRF_TRUSTED_ORIGINS=https://your-domain.com,https://www.your-domain.com

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
REDIS_CACHE_URL=redis://redis:6379/2
CELERY_LOG_LEVEL=INFO
DEVICE_TIME_SYNC_ENABLED=false
DEVICE_TIME_SYNC_INTERVAL_MINUTES=0
APP_TIME_ZONE=Asia/Riyadh
DEVICE_SYNC_TIME_ZONE=Asia/Riyadh

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=apikey
EMAIL_HOST_PASSWORD=your-sendgrid-api-key
SENDGRID_API_KEY=your-sendgrid-api-key
DEFAULT_FROM_EMAIL=no-reply@your-domain.com

SENTRY_DSN=
SENTRY_ENV=production
SENTRY_TRACES_SAMPLE_RATE=0.05
HEALTHCHECKS_URL=

ADMS_SHARED_SECRET=
ADMS_AUTO_REGISTER=true
ADMS_COMMAND_QUEUE_TTL_SECONDS=3600
ADMS_ALLOWED_IPS=

AI_PROVIDER=google
AI_API_KEY=
AI_MODEL_NAME=gemini-2.5-flash
